@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #232229;
}

@media screen and (min-width: 375px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo {
    font-family: Jost;
    font-size: 24px;
    color: white;
    margin-left: 26px;
    margin-top: 29px;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  h1 {
    font-family: Jost;
    color: white;
    font-size: 36px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    margin-top: 222px;
  }
  .intro-paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #6c6a7c;
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    margin-top: 18px;
    margin-bottom: 36px;
    margin-left: 28px;
    margin-right: 28px;
  }
  button {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1a0a0), to(#e58181));
    background-image: linear-gradient(180deg, #e1a0a0, #e58181);
    -webkit-box-shadow: 0 10px 40px #6b3838;
            box-shadow: 0 10px 40px #6b3838;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 7px;
    width: 120px;
    height: 50px;
    margin-right: 28px;
    margin-top: 22px;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  button:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e2c1c1), to(#ea8282));
    background-image: linear-gradient(180deg, #e2c1c1, #ea8282);
  }
  .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input #add {
    position: absolute;
    left: 0px;
  }
  input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 350px;
    height: 60px;
    background: #2b2a33;
    border: 1px dashed #6c6a7c;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 7px;
    margin-left: 27px;
    margin-right: 27px;
  }
  ::-webkit-input-placeholder {
    font-size: 16px;
    padding: 19px 170px 18px 32px;
  }
  :-ms-input-placeholder {
    font-size: 16px;
    padding: 19px 170px 18px 32px;
  }
  ::-ms-input-placeholder {
    font-size: 16px;
    padding: 19px 170px 18px 32px;
  }
  ::placeholder {
    font-size: 16px;
    padding: 19px 170px 18px 32px;
  }
  .item {
    width: 340px;
    height: 50px;
    background-color: #2b2a33;
    color: white;
    font-family: Jost;
    font-size: 16px;
    margin-left: 27px;
    margin-right: 27px;
  }
  #tasks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Jost;
    font-style: normal;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-left: 28px;
    margin-top: 53px;
  }
  #task-paragraph {
    margin-left: 28px;
    margin-top: 21px;
    font-size: 16px;
    color: #6c6a7c;
    font-family: Jost;
  }
  .checkBox {
    border-color: #e58181;
  }
}
/*# sourceMappingURL=style.css.map */